<footer>
  <div id='one'>NEWSLETTER
    <form action="action_page.php">
      <label><input name="firstname" />
      </label><br>
      <input class='btn' type="submit" value="Submit">
    </form>
  </div>
	<div id='two'>SOCIAL MEDIAS
    </div>
  <div id='three'>CUSTOMER SERVICE<br><br>CONTACT<br>RETURNS<br>SHIPPING</div>

</footer>
