<ul class='postage'>
  <li>united kingdom</li>
  <li><i class='fa fa-truck'></i><span>same day dispatch</span></li>
  <li><i class='fa fa-paper-plane'></i><span>free shipping on all orders</span></li>
</ul>
<ul class='postage'>
  <li>worldwide</li>
  <li><i class='fa fa-truck'></i><span>same day dispatch</span></li>
  <li><i class='fa fa-paper-plane'></i><span>free shipping on all orders</span></li>
</ul>
