<div class='information'>
  
  <input class='delivery-tab' type="radio" name="id" value="del" id="del" checked="checked" />
  <label for="del">delivery</label>
  <div class='delivery-details'>{% include 'product-delivery' %}</div>
  
  <input class='sizing-tab' type="radio" name="id" value="siz" id="siz" />
  <label for="siz">sizing</label>
  <div class='sizing-details'></div>
  
  <input class='returns-tab' type="radio" name="id" value="ret" id="ret" />
  <label for="ret">returns</label>
  <div class='returns-details'></div>
  
  <div class='underline'></div>
  
</div>